<div style="padding: 15px" [ngStyle]="{ 'background-color': data.item.color }">
  <div>
    <input
      [ngStyle]="{ 'background-color': data.item.color }"
      matInput
      placeholder="Title"
      [(ngModel)]="data.item.Title"
    />

    <button class="pin" mat-icon-button>
      <mat-icon matSuffix matTooltip="Pin Note">
        <img src="assets/img/fundooNotes/pin.svg" />
      </mat-icon>
    </button>
  </div>

  <div>
    <input
      [ngStyle]="{ 'background-color': data.item.color }"
      matInput
      placeholder="Take a note"
      [(ngModel)]="data.item.Note"
    />
  </div>
  <div
    *ngIf="
      !(
        data.item.remainderDateTime == 'undefined undefined' ||
        data.item.remainderDateTime == 'null null'
      )
    "
  >
    <button
      (click)="selectDateTimeMatcardEnable = true"
      class="timer"
      mat-button
    >
      <mat-icon>
        <img class="image" src="assets/img/fundooNotes/timer.svg" />
      </mat-icon>
      {{ data.item.remainderDateTime }}
    </button>
    <button (click)="deleteReminder()" mat-icon-button>
      <img class="image" src="assets/img/fundooNotes/close.svg" />
    </button>
  </div>

  <div style="margin-top: 50px">
    <button [matMenuTriggerFor]="menu" mat-icon-button class="mat-buttons">
      <mat-icon class=" mat-icon-button_other" matTooltip="Reminder">
        <img class="image" src="assets/img/fundooNotes/touch.svg" />
      </mat-icon>
    </button>

    <!-- remainder menu -->

    <mat-menu [overlapTrigger]="false" #menu="matMenu">
      <button
        [disabled]="enable8"
        (click)="select8am(); saveReminder()"
        style="font-size: 12px"
        mat-menu-item
      >
        Today 08:00 am
      </button>
      <button
        [disabled]="enable13"
        (click)="select1pm(); saveReminder()"
        style="font-size: 12px"
        mat-menu-item
      >
        Today afternoon 13:00
      </button>
      <button
        [disabled]="enable20"
        (click)="select8pm(); saveReminder()"
        style="font-size: 12px"
        mat-menu-item
      >
        Later today 20:00
      </button>
      <button
        (click)="selectDateTimeMatcardEnable = true"
        style="font-size: 12px;"
        mat-menu-item
      >
        <img class="image" src="assets/img/fundooNotes/timer.svg" /> Select date
        and time
      </button>
    </mat-menu>

    <!-- Date Time mat card -->
    <mat-card class="card" *ngIf="selectDateTimeMatcardEnable">
      <button mat-menu-item>Pick date and time.</button>
      <button mat-menu-item>
        <input
          style="width:120px"
          [(ngModel)]="reminder_date"
          matInput
          [matDatepicker]="picker"
          placeholder="Choose a date"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </button>

      <button mat-menu-item>
        <input
          matInput
          [(ngModel)]="reminder_time"
          [ngxTimepicker]="picker1"
          placeholder="Chose Time"
        />
        <ngx-material-timepicker #picker1></ngx-material-timepicker>
      </button>
      <mat-card-actions>
        <button style="margin-left: 23px" (click)="saveReminder()" mat-button>
          Save
        </button>
        <button (click)="selectDateTimeMatcardEnable = false" mat-button>
          Close
        </button>
      </mat-card-actions>
    </mat-card>

    <!-- all other images -->
    <button mat-icon-button class="mat-buttons">
      <mat-icon matTooltip="Collaborater">
        <img class="image" src="assets/img/fundooNotes/collaborater.svg" />
      </mat-icon>
    </button>
    <button [matMenuTriggerFor]="color" mat-icon-button class="mat-buttons">
      <mat-icon matTooltip="Color">
        <img class="image" src="assets/img/fundooNotes/color.svg" />
      </mat-icon>
    </button>

    <mat-menu [overlapTrigger]="false" #color="matMenu">
      <button
        matTooltip="Yellow"
        (click)="changeColor('#fcf476')"
        mat-mini-fab
        style="background-color:#fcf476"
      ></button>
      <button
        matTooltip="Orange"
        (click)="changeColor('#f8bc04')"
        mat-mini-fab
        style="background-color:#f8bc04 "
      ></button>
      <button
        matTooltip="Red"
        (click)="changeColor('#f28b82')"
        mat-mini-fab
        style="background-color:#f28b82 "
      ></button>
      <button
        matTooltip="White"
        (click)="changeColor('#ffffff')"
        mat-mini-fab
        style="background-color:#ffffff "
      ></button>
      <br />
      <button
        matTooltip="Dark blue"
        (click)="changeColor('#aecbfa')"
        mat-mini-fab
        style="background-color:#aecbfa "
      ></button>
      <button
        matTooltip="Blue"
        (click)="changeColor('#cbf0f8')"
        mat-mini-fab
        style="background-color:#cbf0f8 "
      ></button>
      <button
        matTooltip="Teal"
        (click)="changeColor('#a7ffea')"
        mat-mini-fab
        style="background-color:#a7ffea "
      ></button>
      <button
        matTooltip="Green"
        (click)="changeColor('#ccff90')"
        mat-mini-fab
        style="background-color:#ccff90 "
      ></button>
      <br />
      <button
        matTooltip="Gray"
        (click)="changeColor('#e8eaed')"
        mat-mini-fab
        style="background-color:#e8eaed "
      ></button>
      <button
        matTooltip="Brown"
        (click)="changeColor('#e6c9a8')"
        mat-mini-fab
        style="background-color:#e6c9a8 "
      ></button>
      <button
        matTooltip="Pink"
        (click)="changeColor('#fccfe8')"
        mat-mini-fab
        style="background-color:#fccfe8 "
      ></button>
      <button
        matTooltip="Purple"
        (click)="changeColor('#d7aefb')"
        mat-mini-fab
        style="background-color:#d7aefb "
      ></button>
    </mat-menu>

    <button mat-icon-button class="mat-buttons">
      <mat-icon matTooltip="Photo">
        <img class="image" src="assets/img/fundooNotes/photo.svg" />
      </mat-icon>
    </button>
    <button mat-icon-button class="mat-buttons">
      <mat-icon matTooltip="Archive">
        <img class="image" src="assets/img/fundooNotes/archive.svg" />
      </mat-icon>
    </button>
    <button mat-icon-button class="mat-buttons">
      <mat-icon matTooltip="More">
        <img class="image" src="assets/img/fundooNotes/more.svg" />
      </mat-icon>
    </button>
    <button
      (click)="updateNotes()"
      style="margin-left: 135px ;font-size: 12px;"
      mat-button
    >
      CLOSE
    </button>
  </div>
</div>
