<mat-card align="center" class="card">
  <mat-card-title>Forgot password?</mat-card-title>
  <div class="example-container">
    <mat-form-field>
      <input matInput placeholder="Enter your email" [(ngModel)]="model.email" [formControl]="email" required>
      <mat-error *ngIf="email.invalid">Email is invalid</mat-error>
    </mat-form-field>
    <div align="center"><button class="button" [disabled]="email.invalid || dis" (click)="onclick()">Submit</button></div>
  </div>

  <mat-progress-bar *ngIf="issubmit" mode="buffer"></mat-progress-bar>

</mat-card>
<div *ngIf="iserror">{{errorMessage}}</div>
