<mat-card class="card">
  <mat-card-title align="center">Reset password</mat-card-title>
  <div *ngIf="iserror">{{error}}</div>
  <div class="example-container">
    <mat-form-field>
      <input matInput disabled placeholder="Email"> {{emailid}}
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" [(ngModel)]="pwd" placeholder="Password" [formControl]="password" minlength="5"
        required>
      <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>
    </mat-form-field>
    <div align="center"><button [disabled]="password.invalid" (click)="Onclick()" class="button">Submit</button></div>
  </div>

  <div align="center" *ngIf="iserrorr">{{errorMessage}}</div>
</mat-card>
